<div class="form" *ngIf="showForm">
  <h2 [ngClass]="{ 'text-center': isCentered }">{{ forTitle }}</h2>
  <hr *ngIf="hasDivisor">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div [ngClass]="gridColumnClass">
      <div class="form-group" *ngFor="let input of inputs">
        <label class="form-label first-letter:capitalize" [for]="input.formControlName">{{ input.label }}</label>
        <input
          *ngIf="input.type !== 'checkbox' && input.type != 'modal-input'"
          [type]="showPasswordType(input.type)"
          [id]="input.formControlName"
          class="form-control rounded-xl text-base"
          [class.input-error]="loginForm.get(input.formControlName)?.invalid && loginForm.get(input.formControlName)?.touched"
          [formControlName]="input.formControlName"
          [placeholder]="input.placeholder"
        >
        <div *ngIf="input.type === 'checkbox'" class="toggle-container">
          <input
            [type]="input.type"
            [id]="input.formControlName"
            [formControlName]="input.formControlName"
            (change)="onChangeCheckBox($event, input.formControlName)"
            [checked]="loginForm.get(input.formControlName)?.value"
            class="toggle"
          >
        </div>
        <div *ngIf="input.type === 'modal-input' && input.modalInput">
          <app-modal-input
            [formControlName]="input.formControlName"
            [dataUri]="input.modalInput.dataUri"
            [filterKey]="input.modalInput.filterKey"
            [labelKey]="input.modalInput.labelKey"
            [formKey]="input.modalInput.formKey"
            [placeholder]="input.modalInput.placeholder"
            [tableColumn]="input.modalInput.tableColumn"
            [disabled]="input.modalInput.disable"
          >
          </app-modal-input>
        </div>
        <div class="flex flex-row checkbox-container" *ngIf="input.type === 'password'">
            <input type="checkbox" (click)="toggleShowPassword()">
            <label class="text-sm ml-1"> mostrar contraseña </label>
        </div>

        <!-- Contenedor de errores -->
        <div *ngIf="loginForm.get(input.formControlName)?.invalid && loginForm.get(input.formControlName)?.touched" class="error-message">
          <small *ngIf="loginForm.get(input.formControlName)?.hasError('required')">
            Este campo es requerido
          </small>
          <small *ngIf="loginForm.get(input.formControlName)?.hasError('minlength')">
            Debe tener al menos {{ loginForm.get(input.formControlName)?.errors?.['minlength'].requiredLength }} caracteres
          </small>
          <small *ngIf="loginForm.get(input.formControlName)?.hasError('pattern')">
            Debe ingresar un correo electrónico válido.
          </small>
          <!-- Puedes agregar más condiciones para otros errores -->
        </div>
      </div>
    </div>
    <div
      class="button-container"
      [ngClass]="{
    'grid grid-cols-2 gap-4 w-50 justify-end ml-auto': showCancelButton,
    'flex justify-end w-full': !showCancelButton
  }"
    >
      <button
        type="button"
        *ngIf="showCancelButton"
        class="btn-cancelar rounded-xl text-base"
        (click)="execCancelHandler()"
      >
        Cancelar
      </button>

      <button
        type="submit"
        class="btn rounded-xl text-base"
      >
        {{ buttonName }}
      </button>
    </div>
  </form>
</div>
