<app-basic-header
  [headerName]="'adminitración de usuarios'"
>
  <app-basic-autocomplete
    class="ml-auto"
    [placeholder]="'Buscar usuario'"
  >
  </app-basic-autocomplete>
</app-basic-header>

<div class="flex justify-end gap-2">
  <app-basic-button
    label="crear"
    icon="add"
    (click)="navegateCreate()"
  >
  </app-basic-button>
</div>

<app-master-table
  [dataSource]="dataSource"
  [columns]="columns"
  [idKey]="idKey"
  [overflow]="overflow"
  (overflowDetected)="handleOverflow($event)"
>
</app-master-table>
