<app-basic-header
  [headerName]="'adminitración de menus'"
>
  <app-basic-autocomplete
    class="ml-auto"
    [placeholder]="'Buscar menu'"
  >
  </app-basic-autocomplete>
</app-basic-header>

<div class="flex justify-end gap-2">
  <app-basic-button
    label="crear"
    icon="add"
    (click)="navegateCreate()"
  >
  </app-basic-button>
</div>

<app-master-table
  [dataSource]="dataSource"
  [columns]="columns"
  [idKey]="idKey"
  [overflow]="overflow"
  (overflowDetected)="handleOverflow($event)"
>
  <ng-template #actions let-row>
    <app-action-table
      [actions]="menuActions"
      (actionClicked)="actionHandler($event, row)"
    >
    </app-action-table>
  </ng-template>
</app-master-table>
