.icon {
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.link-icon {
  color: #4caf50; // Verde
}

.merge-icon {
  color: #2196f3; // Azul
}

.schema-icon {
  color: #ff9800; // Naranja
}
