<div class="flex flex-row items-center parent-menu-container">
  <h4 class="first-letter:capitalize"> {{menu}}</h4>
  <app-basic-autocomplete
    class="ml-auto"
    [placeholder]="'Buscar'"
  >
  </app-basic-autocomplete>
</div>
<hr>
<div class="grid gap-4 mt-1" [ngStyle]="{'grid-template-columns': 'repeat(auto-fit, minmax(200px, 1fr))'}">
  <div
    *ngFor="let item of submenus"
    class="flex flex-row items-center rounded-2xl gap-2 menu p-2"
    (click)="routeHandler(item.route)"
    tabindex="0"
  >
    <mat-icon class="rounded-full p-3 icon">
      {{ item.icon }}
    </mat-icon>
    <p class="text-sm tracking-tighter leading-tight first-letter:capitalize">{{ item.label }}</p>
  </div>
</div>
