@import "colors";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;

  &.active {
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    justify-content: center;
    align-items: center;
  }

  .loading-message {
    text-align: center;
    color: $icon-container-hover;

    .spinner {
      width: 35px;
      height: 35px;
      margin: 0 auto 15px auto;
      border: 5px solid rgba(255, 255, 255, 0.3);
      border-top: 5px solid #fff;
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }

    p {
      font-size: 1.2rem;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
