<script src="recurso-menu.component.ts"></script>
<app-basic-header
  [headerName]="'asignación de recurso a menus'"
>
  <div class="ml-auto"></div>
</app-basic-header>

<form [formGroup]="recursoMenuForm">
  <div class="grid grid-cols-3 gap-4">
    <div class="col-span-1">
      <app-modal-input
        formControlName="menu"
        [label]="'Selecciona menu'"
        [dataUri]="'security/menu/childs/1'"
        [filterKey]="'nombre'"
        [labelKey]="'nombre'"
        [formKey]="'MenuID'"
        [placeholder]="'Selección de menu'"
        [tableColumn]="menuColumns"
      >
      </app-modal-input>
    </div>

    <div class="col-span-1">
      <app-modal-input
        formControlName="recurso"
        [label]="'Selecciona recurso'"
        [dataUri]="'security/resources/all'"
        [filterKey]="'acceso'"
        [labelKey]="'acceso'"
        [formKey]="'recurso_id'"
        [placeholder]="'Selección de recurso'"
        [tableColumn]="recursoColumns"
      >
      </app-modal-input>
    </div>

    <div class="ml-auto flex justify-center items-center">
      <app-basic-button
        [label]="'Asignar'"
        (click)="asignar()"
        [icon]="'link'"
      >
      </app-basic-button>
    </div>

  </div>
</form>
