<button class="sidenav-toggle" (click)="toggleSidenav()">☰</button>
<div class="sidenav shadow-md" [class.open]="sidenavOpen">
    <a href="/public" class="sidenav-brand">Tesoria de compensación</a>
    <ul class="sidenav-menu">
      <li class="sidenav-item"><a href="/home" class="sidenav-link rounded-md">Solicitudes</a></li>
      <li class="sidenav-item"><a href="/about" class="sidenav-link rounded-md">Compensaciones</a></li>
      <li class="sidenav-item"><a href="/contact" class="sidenav-link rounded-md">Contact</a></li>
    </ul>
</div>
