<div *ngIf="dataSource.length > 0 && overflow !== undefined; else noData">
  <app-table
    *ngIf="!overflow"
    [columns]="columns"
    [data]="dataSource"
    [idKey]="idKey"
    (overflowDetected)="handleOverflow($event)"
    [actions]="actions"
  >
  </app-table>

  <app-mini-table
    *ngIf="overflow"
    [columns]="columns"
    [data]="dataSource"
    [idKey]="idKey"
  >
  </app-mini-table>
</div>

<ng-template #noData>
  <app-not-found [title]="noFoundTitle">
  </app-not-found>
</ng-template>

<ng-content select="[actions]"></ng-content>
