<div class="pagination tracking-tighter leading-tight" *ngIf="paginated && totalPages > 1">
  <mat-icon
    (click)="changePage(-1)"
    [class.disabled]="currentPage === 1"
    aria-label="Página anterior"
    [ngClass]="{ 'active': currentPage > 1 }"
  >
    chevron_left
  </mat-icon>

  <span class="text-sm">Página {{ currentPage }} de {{ totalPages }}</span>

  <mat-icon
    (click)="changePage(1)"
    [class.disabled]="currentPage === totalPages"
    aria-label="Página siguiente"
    [ngClass]="{ 'active': currentPage < totalPages }"
  >
    chevron_right
  </mat-icon>
</div>
