<app-basic-header
  [headerName]="'asignación de submenus a menu'"
>
  <div class="ml-auto"></div>
</app-basic-header>

<form [formGroup]="subMenuMenuForm">
  <div class="grid grid-cols-3 gap-4">
    <div class="col-span-1">
      <app-modal-input
        formControlName="menuHijo"
        [label]="'Selecciona menu hijo'"
        [dataUri]="'security/menu/childs/1'"
        [filterKey]="'nombre'"
        [labelKey]="'nombre'"
        [formKey]="'MenuID'"
        [placeholder]="'Selección de menu hijo'"
        [tableColumn]="menuColumns"
      >
      </app-modal-input>
    </div>

    <div class="col-span-1">
      <app-modal-input
        formControlName="menuPadre"
        [label]="'Selecciona menu padre'"
        [dataUri]="'security/menu/parents/1'"
        [filterKey]="'nombre'"
        [labelKey]="'nombre'"
        [formKey]="'MenuID'"
        [placeholder]="'Selección de menu padre'"
        [tableColumn]="menuColumns"
      >
      </app-modal-input>
    </div>

    <div class="ml-auto flex justify-center items-center">
      <app-basic-button
        [label]="'Asignar'"
        (click)="asignar()"
        [icon]="'link'"
      >
      </app-basic-button>
    </div>
  </div>
</form>
