<app-basic-header
  [headerName]="'asignación de roles a usuarios'"
>
  <div class="ml-auto"></div>
</app-basic-header>

<form [formGroup]="rolUsuarioForm">
  <div class="grid grid-cols-3 gap-4">
    <div class="col-span-1">
      <app-modal-input
        formControlName="usuario"
        [label]="'Selecciona usuario'"
        [dataUri]="'security/user/all'"
        [filterKey]="'usuario'"
        [labelKey]="'nombre_1'"
        [formKey]="'usuario_id'"
        [placeholder]="'Selección de usuario'"
        [tableColumn]="testColumns"
      >
      </app-modal-input>
    </div>
    <div class="col-span-1">
      <app-modal-input
        formControlName="rol"
        [label]="'Selecciona el rol'"
        [dataUri]="'security/rol/all'"
        [filterKey]="'nombre'"
        [labelKey]="'nombre'"
        [formKey]="'RolID'"
        [placeholder]="'Selección de rol'"
        [tableColumn]="rolColumns"
      >
      </app-modal-input>
    </div>
    <div class="ml-auto flex justify-center items-center">
      <app-basic-button
        [label]="'Asignar'"
        (click)="asignar()"
        [icon]="'link'"
      >
      </app-basic-button>
    </div>

  </div>
</form>

