@import '../../../../../../../../public/assets/colors';

.container{
    background-color: $color-panel-control;
    .icon{
        color: $icon-panel-control;
        cursor: pointer;

        transition: transform 0.5s ease;

        &:hover {
            color: $text-color-panel-control;
            transform: rotateZ(90deg);
        }
    }

    .sub-control-panel{
      cursor: pointer;
    }

}
@keyframes widthfull {
    from {width: var(--startWidth); }
    to {width: var(--endWidth); }
  }
