<div class="flex justify-between flex-row p-2  header">
    <div class="flex flex-row justify-center items-center logo" (click)="navegateHome()">
      <img src="miniLogo.png" height="30" width="30" class="mr-2"/>
      <div class='logo text-xl flex justify-center items-center'>MedFriend</div>
    </div>

    <div class='flex justify-center items-center gap-4'>
        <div class="form-control text-base search-bar rounded-xl flex">
            <mat-icon class="icon">search</mat-icon>
            <input
                type="text"
                class="input-searchBar ml-2 text-base"
                placeholder="búsqueda"
            >
            <mat-icon class="icon">help_outline</mat-icon>
        </div>
        <div class="flex flex-row justify-center items-center gap-1 icon-container p-2 rounded-xl">
            <mat-icon>notifications_none</mat-icon>
        </div>
        <div class="flex flex-row justify-center items-center gap-1 icon-container p-2 rounded-xl">
            <mat-icon>error_outline</mat-icon>
        </div>
        <div class="flex flex-row justify-center items-center gap-1 icon-container p-2 rounded-xl">
            <mat-icon>person</mat-icon>
            <a class="label"> {{username}}</a>
            <div
                class="key-container flex"
                (mousedown)="userArrowActive()"
                (mouseup)="userArrowDeactive()"
                (mouseleave)="userArrowDeactive()"
            >
                <app-basic-popup
                    [isActive]="isUserArrowActive"
                    [translateX]="-100"
                    [translateY]="40"
                >
                    <app-user-list/>
                </app-basic-popup>
            </div>
        </div>
        <div
            class="flex flex-row justify-center items-center gap-1 mr-3 icon-container p-2 rounded-xl"
            (click)="logoutHandler()"
        >
            <mat-icon>logout</mat-icon>
            <a class="label">Desconectar</a>
        </div>
    </div>
</div>
